<!-- HEADER -->
<header>
    <div class="header-inner">
        <a href="{% url 'home' %}" class="logo">
            <div class="logo-mark">HS</div>
            <div class="logo-text">
                <span class="logo-name">Hamro Stock</span>
                <span class="logo-sub">Nepal Stock Exchange</span>
            </div>
        </a>
        <nav>
            <a href="{% url 'home' %}" class="nav-btn">Market Dashboard</a>
            <a href="{% url 'prediction' %}" class="nav-btn">Stock Prediction</a>
            <a href="{% url 'about' %}" class="nav-btn">About Us</a>
        </nav>
        <div class="live-pill" id="market-status"><span></span></div>



        <!-- PROFILE -->
        
        <div class="profile-section">
            {% if request.user.is_authenticated %}
            <div class="profile-avatar">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
            </div>

            <div class="profile-name">
                {{ request.user.first_name }}
             {{ request.user.last_name }}</div>
            <div class="profile-btns">
                <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
            </div>

            {% else %}
            <div class="profile-btns">
                <a href="{% url 'login' %}" class="btn-login">Login</a>
                <a href="{% url 'register' %}" class="btn-register">Register</a>
            </div>

            {% endif %}

        </div>
        <!-- END PROFILE -->


    </div>
</header>