
<!-- HEADER -->
<header>
    <div class="header-inner">
        <a href="{% url 'home' %}" class="logo">
            <div class="logo-mark">HS</div>
            <div class="logo-text">
                <span class="logo-name">Hamro Stock</span>
                <span class="logo-sub">Nepal Stock Exchange</span>
            </div>
        </a>
        <nav>
            <a href="dashboard.html" class="nav-btn active">Market Dashboard</a>
            <a href="{% url 'prediction' %}" class="nav-btn">Stock Prediction</a>
        </nav>
        <div class="live-pill" id="market-status"><span class="live-dot"></span> OPEN</div>



        <!-- PROFILE -->
        <div class="profile-section">
            <div class="profile-avatar">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
            </div>
            <div class="profile-name">John Doe</div>
            <div class="profile-btns">
                <a href="#" class="btn-login">Login</a>
                <a href="#" class="btn-logout">Logout</a>
            </div>
        </div>
        <!-- END PROFILE -->


    </div>
</header>